@import "tailwindcss";
:root {
    font-size: 28px;
    font-family: "Manrope", sans-serif;
    font-weight: 800;

    --Light-Cyan: rgb(206, 227, 233);
    --Neon-Green: rgb(82, 255, 168);
    --Grayish-Blue: rgb(78, 93, 115);
    --Dark-Grayish-Blue: rgb(50, 58, 73);
    --Dark-Blue: rgb(31, 38, 50) ;

}

html, body{
  width: 100%;
  height: 100%;
}
  
body{

  background-color: var(--Dark-Blue);
}